# .gitignore in root directory
# find . -maxdepth 2 -not -path '*/.*' # directory local

**/.DS_Store
.vscode/
.idea/
*.swp

# Python / ML
ml_pipeline/.venv/
ml_pipeline/__pycache__/
ml_pipeline/data/
ml_pipeline/outputs/
ml_pipeline/musdb18hq/
ml_pipeline/inference_output/
*.pt
*.onnx
ml_pipeline/training_log.csv
ml_pipeline/generate_plots.py

plugin/onnxruntime/lib/*
!plugin/onnxruntime/lib/libonnxruntime.dylib

# C++ / JUCE
plugin/build/
build/
*.dylib
*.dll
*.vst3
*.component

# Ableton
*.asd

